#contact{
	background-image: url(../img/arrangement-2264812_1920.jpg);
	padding-top: 100px;
	padding-bottom: 0px;
	position: relative;
	&::before{
	    content: "";
	    width: 100%;
	    height: 100%;
	    background: rgba(#d1d1b1, 0.5);
	    z-index: 9;
	    position: absolute;
	    display: block;
	    top: 0;
	    left: 0;
	}


	& .box-contact::after{
	    content: "";
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	    left: 0;
	    height: 200px;
	    z-index: 9;
		background: rgba(197,197,155,0);
		background: -moz-linear-gradient(top, rgba(197,197,155,0) 14%, rgba(184,184,146,0) 20%, rgba(40,37,40,0.85) 88%, rgba(40,37,40,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(14%, rgba(197,197,155,0)), color-stop(20%, rgba(184,184,146,0)), color-stop(88%, rgba(40,37,40,0.85)), color-stop(100%, rgba(40,37,40,1)));
		background: -webkit-linear-gradient(top, rgba(197,197,155,0) 14%, rgba(184,184,146,0) 20%, rgba(40,37,40,0.85) 88%, rgba(40,37,40,1) 100%);
		background: -o-linear-gradient(top, rgba(197,197,155,0) 14%, rgba(184,184,146,0) 20%, rgba(40,37,40,0.85) 88%, rgba(40,37,40,1) 100%);
		background: -ms-linear-gradient(top, rgba(197,197,155,0) 14%, rgba(184,184,146,0) 20%, rgba(40,37,40,0.85) 88%, rgba(40,37,40,1) 100%);
		background: linear-gradient(to bottom, rgba(197,197,155,0) 14%, rgba(184,184,146,0) 20%, rgba(40,37,40,0.85) 88%, rgba(40,37,40,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c59b', endColorstr='#282528', GradientType=0 );
	}
}

#form-contact{
	padding: 20px;
	&::before{
		content: "CONTÁCTANOS";
	    position: absolute;
	    top: -17px;
	    left: 0;
	    right: 0;
	    background: $color-tertiary;
	    padding: 10px;
	    width: 50%;
	    color: black;
	    margin: auto;
	    font-size: 2rem;
	    text-align: center;
		@media screen and (max-width: 768px) { 
			width: 90%;
		}
	}
}
label{
	font-weight: 500
}

div{
	& .social{
	    display: inline-block;
	    float: left;
		padding: 0px;
	    @media screen and (max-width: $screen-sm) {

	    }
	}
	& .social li a{
		color: #282528;
	}
	& .social li a:hover i{
		transform: rotate(5deg) scale(1.4);
	}
	& .social li{
	    background: #d1d1b1;
	    border-radius: 22px;
	    padding: 4px;
	    float: left;
	    margin-right: 11px;
	}
	& .social li:last-child{
	    margin-right: 0px;
	}
	& .social li i{
		transform: rotate(-5deg) scale(1.2);
	}
	
.direccion{
	display: inline-block;
	& p,
	& a{
		color: #282528 !important;	
	}

	& a:hover p i{
		transform: rotate(15reg);
	}
}

}